.contact {
  padding-left: 116px;
  padding-top: 3rem;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 15, 40, 1) 0%,
      rgba(0, 15, 40, 0.7) 10%,
      rgba(0, 15, 40, 0.7) 100%
    ),
    url("../assets/5-lakesky.jpg");
  background-size: cover;
  background-position: center;
  // border-top: 3px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Walter Turncoat";
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 85px;
  }
  &__title {
    padding-bottom: 2rem;
    color: aliceblue;
    font-size: 3.4rem;
    font-weight: 300;
    text-shadow: 5px 5px 10px black;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    div {
      border-bottom: 2px solid aliceblue;
      height: 2px;
      width: 4rem;
      margin: 2rem;
      box-shadow: 5px 5px 10px black;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  &__form {
    margin-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1100px) {
      width: 80%;
    }
    p {
      margin-bottom: 3rem;
      width: 140%;
      color: aliceblue;
      font-family: "Exo 2";
      font-weight: 200;
      font-size: 1.6rem;
      text-align: center;
      text-shadow: 4px 4px 8px black;
      @media screen and (max-width: 1000px) {
        font-size: 1.4rem;
        width: 85%;
      }
      span {
        font-style: italic;
        color: rgb(218, 144, 32);
      }
      @media screen and (max-width: 1100px) {
        width: 100%;
      }
    }
    input,
    textarea {
      width: 100%;
      padding-left: 20px;
      font-family: "Exo 2";
      font-weight: 300;
      line-height: 2.3rem;
      color: aliceblue;
      font-size: 1.3rem;
      border: 2px solid aliceblue;
      border-radius: 8px;
      background-color: rgba(5, 40, 90, 0.5);
      backdrop-filter: blur(2px);
      box-shadow: 0px 0px 20px 2px black;
    }
    label {
      z-index: 1;
      align-self: flex-start;
      color: aliceblue;
      font-style: italic;
      font-size: 1.5rem;
      transform: translate(20px, -37px);
      transition: 200ms ease-in-out;
      @media screen and (max-width: 600px) {
        font-size: 1.2rem;
        transform: translate(20px, -33px);
      }
      @media screen and (max-width: 500px) {
        font-size: 1rem;
        transform: translate(20px, -30px);
      }
    }
    &__name,
    &__mail {
      width: 100%;
      height: 4.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &__input:focus {
        outline: none;
        border: 2px solid rgb(50, 90, 210);
      }
      &__input:focus + label {
        transform: translate(10px, -62px);
        font-size: 1rem;
        text-shadow: 2px 2px 4px black;
      }
    }
    &__message {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-start;
      label {
        transform: translate(20px, 17px);
        height: 0.4rem;
      }
      &__input {
        resize: none;
      }
      &__input:focus {
        outline: none;
        border: 2px solid rgb(50, 90, 210);
      }
      &__input:focus + label {
        transform: translate(10px, -17px);
        font-size: 1rem;
        text-shadow: 2px 2px 4px black;
      }
    }
    &__submit {
      align-self: flex-end;
      margin-top: 2rem;
      padding: 0;
      width: 40%;
      font-family: "Walter Turncoat";
      color: aliceblue;
      font-size: 1.5rem;
      border: 2px solid aliceblue;
      border-radius: 8px;
      background-color: rgba(5, 40, 90, 0.5);
      backdrop-filter: blur(2px);
      box-shadow: 0px 0px 20px 2px black;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
      }
    }
    &__result {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-38%, -50%);
      background-color: rgba(5, 40, 90, 1);
      box-shadow: 0px 0px 10px 5px black;
      z-index: 10;
      height: 200px;
      width: 400px;
      border: 2px solid aliceblue;
      border-radius: 10px;
      @media screen and (max-width: 800px) {
        transform: translate(-50%, -50%);
      }
      p {
        width: 90%;
        margin: 0;
        color: aliceblue;
        font-size: 1.8rem;
        font-family: "Walter Turncoat";
        text-align: center;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(0, 0, 0, 0);
        border: none;
        color: aliceblue;
        cursor: pointer;
        & > * {
          width: 40px;
          height: 40px;
          filter: drop-shadow(0px 0px 6px black);
        }
      }
      > div {
        margin-top: 10px;
        color: aliceblue;
        filter: drop-shadow(0px 0px 6px black);
        & > * {
          width: 50px;
          height: 50px;
          animation: loadingEmail 2s linear infinite;
        }
      }
    }
  }
  &__prefooter {
    width: 85%;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-family: "Exo 2";
    font-weight: 200;
    color: aliceblue;
    text-align: center;
    text-shadow: 4px 4px 8px black;
    span {
      font-style: italic;
      color: rgb(218, 144, 32);
    }
  }
  &__footer {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 25vh;
    background-color: rgba(5, 40, 90, 0.5);
    border: 2px solid aliceblue;
    border-radius: 12px;
    backdrop-filter: blur(2px);
    @media screen and (max-width: 800px) {
      flex-direction: column;
      height: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
      gap: 2rem;
    }
    p {
      color: aliceblue;
      font-size: 2rem;
      @media screen and (max-width: 600px) {
        font-size: 1.6rem;
      }
    }
    &__logos,
    &__cv {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }
    &__logos {
      &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 2rem;
      }
    }
    &__inter {
      width: 2px;
      height: 75%;
      border-right: 2px solid aliceblue;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
    &__cv {
      img {
        filter: drop-shadow(0px 0px 5px black);
        transition: 200ms ease-in-out;
        &:hover {
          transform: scale(1.05) rotate(-2deg);
        }
      }
    }
  }
}

// Classes qui forcent les labels à rester en haut de l'input si les champs sont remplis

.inputHasValue {
  transform: translate(10px, -62px) !important;
  font-size: 1rem !important;
  text-shadow: 2px 2px 4px black;
}

.textareaHasValue {
  transform: translate(10px, -17px) !important;
  font-size: 1rem !important;
  text-shadow: 2px 2px 4px black;
}

@keyframes loadingEmail {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
