.onePage {
  display: flex;
}

.main {
  margin-left: -116px;
  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

.home {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 15, 40, 0) 0%,
      rgba(0, 15, 40, 0.4) 85%,
      rgba(0, 15, 40, 1) 100%
    ),
    url("../assets/1-nightsky.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: "Walter Turncoat";
  @media screen and (max-width: 1000px) {
    padding-top: 100px;
    justify-content: space-around;
    align-items: center;
  }
  &__mainHeader {
    font-weight: 400;
    letter-spacing: 0.2rem;
    font-size: 6.6rem;
    color: aliceblue;
    text-shadow: 5px 5px 10px black;
    padding-left: 5rem;
    z-index: 1;
    width: 100%;
    @media screen and (max-width: 1100px) {
      font-size: 5rem;
    }
    @media screen and (max-width: 1000px) {
      padding-left: 0;
      width: 90vw;
      line-height: 5.5rem;
    }
  }
  &__smallHeader {
    font-weight: 300;
    font-size: 2.8rem;
    letter-spacing: 1.4px;
    color: rgb(248 250 252);
    text-shadow: 5px 5px 10px black;
    padding-left: 5rem;
    margin-top: 2.5rem;
    z-index: 1;
    @media screen and (max-width: 1100px) {
      font-size: 2.6rem;
    }
    @media screen and (max-width: 1000px) {
      font-size: 2rem;
      margin-top: 0;
      padding-left: 0rem;
      width: 90vw;
    }
  }
  &__downButton {
    color: aliceblue;
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
    align-self: center;
    z-index: 1;
    margin-top: 12%;
    margin-bottom: 1%;
    text-shadow: 8px 8px 10px black;
    padding: 2px 10px 2px 10px;
    transition: 500ms ease-in-out;
    cursor: pointer;
    &:hover {
      letter-spacing: 1.5px;
    }
    @media screen and (max-width: 1000px) {
      margin-top: 0;
      font-size: 1.2rem;
      width: 90vw;
    }
  }
}
