.onePage {
  display: flex;
}

.main {
  margin-left: -116px;
  @media screen and (max-width: 800px) {
    margin-left: 0;
  }
}

.home {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 15, 40, 0) 0%,
      rgba(0, 15, 40, 0.4) 85%,
      rgba(0, 15, 40, 1) 100%
    ),
    url("../assets/1-nightsky.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: "Walter Turncoat";
  &__name {
    width: 70rem;
    margin-left: 4rem;
    margin-top: 2rem;
    filter: drop-shadow(4px 4px 6px black);
    transform: skew(-5deg);
    animation: titleAnimation 2s linear;
    animation-delay: 2.7s;
    @media screen and (max-width: 1200px) {
      width: 88vw;
      margin-left: 3rem;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__job {
    width: 48rem;
    margin-left: 4.5rem;
    margin-top: 4rem;
    filter: drop-shadow(4px 4px 4px black);
    transform: skew(-5deg);
    animation: jobAnimation 4s linear;
    animation-delay: 2.7s;
    @media screen and (max-width: 1200px) {
      width: 58vw;
      margin-left: 3rem;
    }
    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  &__nameMobile {
    width: 75vw;
    margin-left: 4rem;
    filter: drop-shadow(4px 4px 6px black);
    transform: skew(-5deg);
    animation: titleAnimation 1.5s linear;
    animation-delay: 2.7s;
    @media screen and (min-width: 900px) {
      display: none;
    }
    @media screen and (max-width: 600px) {
      width: 85vw;
      margin-left: 0;
      align-self: center;
    }
  }
  &__jobMobile {
    width: 60vw;
    margin-left: 4.5rem;
    margin-top: 4rem;
    filter: drop-shadow(4px 4px 4px black);
    transform: skew(-5deg);
    animation: jobAnimation 3s linear;
    animation-delay: 2.7s;
    @media screen and (min-width: 900px) {
      display: none;
    }
    @media screen and (max-width: 600px) {
      width: 85vw;
      margin-left: 0;
      align-self: center;
    }
  }
  &__downButton {
    position: absolute;
    bottom: 2rem;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    filter: drop-shadow(4px 4px 6px black);
    transform: scale(2.5);
    animation: upanddown infinite 2s ease-in-out;
    & > * {
      width: 50rem;
      height: 50rem;
      color: aliceblue;
    }
  }
}

@keyframes titleAnimation {
  0% {
    transform: translate(-100vw) skew(10deg);
  }
  20% {
    transform: translate(-75vw) skew(10deg);
  }
  40% {
    transform: translate(-50vw) skew(10deg);
  }
  60% {
    transform: translate(-25vw) skew(10deg);
  }
  80% {
    transform: translate(0vw) skew(10deg);
  }
  90% {
    transform: translate(0.5vw) skew(-10deg);
  }
  100% {
    transform: translate(0vw) skew(-5deg);
  }
}

@keyframes jobAnimation {
  0% {
    transform: translate(-100vw) skew(10deg);
  }
  20% {
    transform: translate(-100vw) skew(10deg);
  }
  30% {
    transform: translate(-100vw) skew(10deg);
  }
  60% {
    transform: translate(-50vw) skew(10deg);
  }
  90% {
    transform: translate(0vw) skew(10deg);
  }
  95% {
    transform: translate(0.5vw) skew(-10deg);
  }
  100% {
    transform: translate(0vw) skew(-5deg);
  }
}

@keyframes upanddown {
  0% {
    transform: scale(2.5) translate(0px, 0px);
  }
  50% {
    transform: scale(2.5) translate(0px, -5px);
  }
  100% {
    transform: scale(2.5) translate(0px, 0px);
  }
}
