.loading {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(20deg, #205e9c 0%, #053362 50%, #041f3d 100%);
  &__rocket {
    width: 120px;
    filter: drop-shadow(3px 3px 3px black);
    animation: loading 3s linear;
  }
  &__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(3px 3px 3px black);
    animation: zoom 1s ease-in-out infinite;
    img {
      height: 60px;
    }
  }
}

@keyframes loading {
  0% {
    transform: translate(-35vw, 0px);
  }
  100% {
    transform: translate(35vw, 0px);
  }
}

@keyframes skew {
  0% {
    transform: skew(0deg);
  }
  45% {
    transform: skew(0deg);
  }
  65% {
    transform: skew(-20deg) translate(5px);
  }
  100% {
    transform: skew(-20deg) translate(5px);
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
