.presentation {
  padding-left: 116px;
  padding-bottom: 3.4rem;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 15, 40, 1) 0%,
      rgba(0, 15, 40, 0.7) 15%,
      rgba(0, 15, 40, 0.7) 90%,
      rgba(0, 15, 40, 1) 100%
    ),
    url("../assets/2-spinsky.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 85px;
  }
  &__core {
    width: 80%;
    color: aliceblue;
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 4px 4px 8px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8rem;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 0rem;
      width: 85%;
    }
    &__picture {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        margin-top: 2rem;
      }
      p {
        font-size: 2.8rem;
        text-align: center;
        margin-bottom: 4rem;
        font-family: "Walter Turncoat";
      }
      img {
        width: 300px;
        border-radius: 150px;
        filter: drop-shadow(0px 0px 15px black);
      }
    }
    &__text {
      font-family: "Exo 2";
      font-size: 1.6rem;
      font-weight: 200;
      @media screen and (max-width: 1000px) {
        font-size: 1.3rem;
      }
      span {
        font-style: italic;
        color: rgb(218, 144, 32);
      }
      &__rocket {
        width: 140px;
        position: absolute;
        align-self: flex-end;
        transform: translate(450px, 140px) rotate(5deg);
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  50% {
    transform: translate(0px, -15px) rotate(180deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}
