.presentation {
  padding-left: 116px;
  padding-bottom: 3.4rem;
  min-height: 100vh;
  background-image: url("../assets/2-spinsky.jpg");
  background-size: cover;
  background-position: bottom;
  border-top: 3px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Walter Turncoat";
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 85px;
  }
  &__intro {
    width: 85%;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 3rem;
      color: aliceblue;
      text-shadow: 5px 5px 10px black;
    }
    img {
      height: 12rem;
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
  &__core {
    margin-top: -2rem;
    width: 85%;
    color: aliceblue;
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 4px 4px 8px black;
    span {
      font-style: italic;
      color: rgb(218, 144, 32);
    }
    @media screen and (max-width: 1200px) {
      margin-top: 2rem;
    }
  }
}
