.presentation {
  padding-left: 116px;
  padding-bottom: 3.4rem;
  min-height: 100vh;
  background-image: url("../assets/2-spinsky.jpg");
  background-size: cover;
  background-position: bottom;
  border-top: 3px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__intro {
    width: 85%;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 3rem;
      font-family: "Walter Turncoat";
      color: aliceblue;
      text-shadow: 5px 5px 10px black;
    }
    img {
      height: 12rem;
    }
  }
  &__core {
    margin-top: -2rem;
    width: 85%;
    font-family: "Walter Turncoat";
    color: aliceblue;
    text-align: justify;
    font-size: 1.5rem;
    text-shadow: 4px 4px 8px black;
    span {
      font-style: italic;
      color: rgb(218, 144, 32);
    }
  }
}
