.projects {
  padding-left: 116px;
  padding-top: 4rem;
  min-height: 90vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 15, 40, 1) 0%,
      rgba(0, 15, 40, 0.7) 10%,
      rgba(0, 15, 40, 0.7) 90%,
      rgba(0, 15, 40, 1) 100%
    ),
    url("../assets/4-treesky.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 85px;
  }
  &__title {
    color: aliceblue;
    font-family: "Walter Turncoat";
    font-size: 3.4rem;
    font-weight: 300;
    text-shadow: 5px 5px 10px black;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    div {
      border-bottom: 2px solid aliceblue;
      height: 2px;
      width: 4rem;
      margin: 2rem;
      box-shadow: 5px 5px 10px black;
      @media screen and (max-width: 800px) {
        display: none;
      }
    }
  }
  &__intro {
    width: 80%;
    text-align: justify;
    color: aliceblue;
    font-family: "Exo 2";
    font-size: 1.4rem;
    font-weight: 200;
    margin-top: 3rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 1000px) {
      font-size: 1.3rem;
      width: 85%;
    }
    span {
      font-style: italic;
      color: rgb(218, 144, 32);
    }
  }
  &__list {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @media screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1rem;
      gap: 1rem;
    }
  }
}
