.projectsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28rem;
  height: 12rem;
  border: 2px solid aliceblue;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 0px 25px 2px black;
  font-family: "Walter Turncoat";
  @media screen and (max-width: 1100px) {
    width: 22rem;
  }
  &:hover > .projectsItem__content {
    transform: scale(1.05);
  }
  &:hover > .projectsItem__hoverContent {
    background-color: rgba(5, 40, 90, 0.85);
    color: rgb(240, 248, 255);
    text-shadow: 2px 2px 5px black;
    backdrop-filter: blur(2px);
    div {
      color: aliceblue;
      text-shadow: 2px 2px 5px black;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms ease-in-out;
    &__background {
      width: 100%;
      object-fit: cover;
      @media screen and (max-width: 1100px) {
        height: 12rem;
        width: 22rem;
      }
    }
    &__logo {
      position: absolute;
      filter: drop-shadow(0px 0px 8px black);
      @media screen and (max-width: 1100px) {
        width: 15rem;
      }
    }
  }
  &__hoverContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 27.8rem;
    height: 11.8rem;
    position: absolute;
    border-radius: 12px;
    background-color: rgb(0, 0, 0, 0);
    color: rgb(250, 250, 250, 0);
    font-size: 1.4rem;
    text-align: center;
    transition: 700ms;
    @media screen and (max-width: 1100px) {
      width: 21.8rem;
    }
    &__button {
      font-size: 1.6rem;
      border-radius: 8px;
      margin-top: 15px;
      padding: 4px 12px;
      color: rgb(240, 248, 255, 0);
      cursor: pointer;
      div {
        transition: 700ms;
        text-decoration: underline;
        text-shadow: 0px 0px 0px rgb(0, 0, 0, 0);
      }
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
