.projects {
  padding-left: 116px;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 15, 40, 1) 0%,
      rgba(0, 15, 40, 0.7) 10%,
      rgba(0, 15, 40, 0.7) 90%,
      rgba(0, 15, 40, 1) 100%
    ),
    url("../assets/4-treesky.jpg");
  background-size: cover;
  background-position: top;
  // border-top: 3px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 85px;
  }
  &__title {
    color: aliceblue;
    font-family: "Walter Turncoat";
    font-size: 3.4rem;
    font-weight: 300;
    text-shadow: 5px 5px 10px black;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    text-align: center;
  }
  &__list {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 1rem;
      gap: 2rem;
    }
    &__empty {
      color: aliceblue;
      text-align: center;
      font-size: 3rem;
      text-shadow: 3px 3px 6px black;
    }
  }
}
