.skills {
  padding-left: 116px;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 15, 40, 0.7), rgba(0, 15, 40, 0.7)),
    url("../assets/3-spacesky.jpg");
  background-size: cover;
  background-position: center;
  border-top: 3px solid aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Walter Turncoat";
  @media screen and (max-width: 800px) {
    padding-left: 0;
    padding-top: 85px;
  }
  &__title {
    color: aliceblue;
    font-size: 4rem;
    font-weight: 300;
    text-shadow: 5px 5px 10px black;
    margin-bottom: 1.5vh;
    text-align: center;
  }
  &__grid {
    height: 77vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: aliceblue;
  }
}

.closedGridWidth {
  width: calc(42vw - 116px);
}

.openedGridWidth {
  width: calc(74vw - 116px);
}
