.skillsLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 200ms ease-in-out;
  &:hover {
    transform: scale(1.05) rotate(-2deg);
  }
  img {
    width: 90px;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    border-radius: 5px;
  }
  p {
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 6px black, -3px -3px 6px black;
  }
}
